:root {
  --wite: #fff;
  --red: #B41D1E;
  --gray: #121212;
}

.float-right {
  float: right;
}


.sidebar {

  color: var(--wite);
  position: fixed;
  z-index: 999;
  width: 270px;
  height: 100vh;
  top: 0px;
  right: -270px;
  transition: none;
  background-color: black;
  
}

.sidebar .side-content{
  height: 100%;
}

.blur-img {
  filter: blur(10px);
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.blur-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.toggle-icon {
  position: absolute;
  z-index: 99999;
  left: -40px;
  top: 15px;
  background: #121212;
  border-radius: 5px 0 0 5px;

}

.toggle-icon i {
  color: var(--wite);
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
  display: block;
}

.user {
  text-align: center;
  margin: 10px;
  height: auto;
}

.user img {
  /* margin-left: 5px;
  margin-bottom: 10px; */
  background-color: var(--wite);
  margin: 5px 0px;
  width: 70px;
  border-radius: 50px;

}

.user h6 {
  font-size: 14px;
}

.email {
  font-size: 12px;
  color: #ccc;
  margin: 0;
}

.email span {
  color: rgb(73, 231, 34);
}

.user .sign-out {
  font-size: 24px;
  color: var(--red);
  margin: 0;
}

.user .user-info{
  background: var(--gray);
  border-radius: 10px;
  color: var(--wite);
  margin-bottom: 10px;
}
.user .btn {
  margin-bottom: 10px;
  background: #545454;
  border-radius: 10px;
  color: var(--wite);
  border: none;
  width: 100%;
}

.user .subsc-btn{
  background-color: var(--red);
}


.btn:hover {
  box-shadow: 0 0 4px var(--wite);
}

.social-media {
  margin-bottom: 10px;
  text-align: center;
  background: var(--gray);  
  padding: 5px;
  border-radius: 10px;
}

.social-media ul {
  padding: 0;
  margin: 0;
}

.social-media span {
  padding: 5px;
  color: white;
  margin-left: 4px;
  font-size: 24px;
  cursor: pointer;
}

.social-media span i:hover {
  color: var(--red);
}

.list-view {
  margin: 15px 10px 10px;  
  /* font-size: 16px; */
  /* height: auto; */
  height: calc(100% - 350px);
  overflow: hidden;
}

.list-view ul {
  padding: 10px;
  width: 100%;
  max-height: 100%;
  height: auto;
  border-radius: 10px;
  background: var(--gray);
  overflow-y: auto ;
  margin-bottom: 0;
}

.list-view ul li:not(last-child) {
  margin-bottom: 10px;
}

.list-view ul i {
  margin-left: 10px;
  font-size: 18px;

}

.list-view ul li a {
  color: var(--wite);
}

.list-view ul li:hover a,.list-view ul li:hover i{
  cursor: pointer;
  color: var(--red);
}

.box-control {
  position: absolute;
  width: 1000%;
  height: 100%;
  right: 250px;
  display: none;
}

::-webkit-scrollbar{
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb  {
  background: var(--red);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #630f0f;
}


@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');


*{
    font-family: 'Cairo', sans-serif ;
}
