:root {
  --white: #fff;
  --red: #CA1919;
  --bg-section: #121212;
  --dark-yellow: #ffb600;
  --section-padding: 100px;

}

* {
  box-sizing: border-box
}

body {
  direction: rtl;
  background-color: #000000;
}

.slider {
  position: relative;
  text-align: center;
  color: var(--white);
  overflow: hidden;
}

.slider .shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to bottom, rgba(248, 243, 243, 0), rgb(0, 0, 0));
  z-index: -2;
}

.slider .image-slide {
  background-position: center center;
  background-size: cover;
  filter: blur(12px);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -3;
}

/* 
.slider .image-slide img{
    width: 100%;
    object-fit: cover;
    height: 80vh;
    filter: blur(12px);
    z-index: 5;
} */

.slider .text-image {
  /* background-color: #CA1919; */
  /* width: 50%; */
  /* transform: translate(-50%,-50%); */
  /* top: 60%; */
  /* z-index: 4; */
  margin-top: 50px;
  padding-top: 50px;
  margin-bottom: 20px;
}

.slider .text-image img {
  width: 18%;
  margin-bottom: 10px;
  object-fit: cover;
  border-radius: 5%;
}

.slider h4 {
  font-weight: bold;
  margin-bottom: 10px;
}

/* 
.slider .views{
    margin-left: 10px;
} */

.slider .views,
.slider .complete {
  background-color: #bebfb84a;
  padding: 2px 8px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

/* .slider .views i{
    margin-left: 4px;
} */


.slider .text-image .list-style {
  height: 25px !important;
  margin-bottom: 10px;
}

.slider .text-image .list-style .list-text-1 i {
  color: var(--dark-yellow);
}

/* .slider .text-image .list-style .list-text-1,
.slider .text-image .list-style .list-text-2,
.slider .text-image .list-style .list-text-3{
  padding: 0 7px;
  border-left: 1px solid var(--red);
} */

.slider .text-image .list-style .list-text-4 {
  padding: 0 7px;
}

/* ============== start main-comment ============== */

.main-comment{
  text-align: center;
  margin-top: 5%;

}

.main-comment .comment,
.main-comment .add,
.main-comment .social{
  width: 40%;
margin: auto;
border-radius: 10px;
color: var(--white);
}

.main-comment .comment .btn{
  width: 100%;
background-color: var(--bg-section);
border: 2px solid var(--red);
border-radius: 10px;
color: var(--white);
}

.main-comment .comment .btn:focus{
  box-shadow: none;
}

.main-comment .add,
.main-comment .social{
  margin-top: 10px;
  background-color: var(--bg-section);
  padding: 10px;
}

.main-comment .social ul{
  display:inline-flex;
  padding: 0;
width: 100%;
justify-content: space-between;
}

.main-comment .dropdown-menu {
  position: relative;
  display: block;
  background: none;
  padding: 0;
  border: none;
  min-width: 0rem;
}

.main-comment .star{
  display: flex;
  justify-content: center;
}

.dropdown-menu>button:hover {
  background: none;
}

.dropdown-menu button {
  display: flex;
  align-items: center;
  gap: 10px;
  /* padding: 0 16px;
width: 230px;
height: 64px; */
  border-radius: 12px;
  color: var(--white);
  background: none;
  border: 0;
  cursor: pointer;
  font-size: 16px;
}

.dropdown-menu>button {
  position: relative;
  z-index: 10;
  transition: 0.3s;
}

.dropdown-menu button #dropdown-icon {
  margin-left: auto;
}

.dropdown__menu-labels {
  position: absolute;
  overflow: hidden;
  z-index: 1;
  top: 70px;
  right: -70px;
  width: 200px;
  opacity: 0;
  visibility: hidden;
  border-radius: 12px;
  border-top: 0;
  background: var(--white);
  translate: 0 -20px;
  transition: 0.4s;
}

.dropdown-star{
  right: 0 !important;
}

.dropdown__menu-labels button {
  border: 0;
  width: 100%;
  height: 56px;
  border-radius: 0;
  color: var(--bg-section);
  padding: 0 10px;
}

.dropdown__menu-labels button:hover {
  background: var(--red);
  color: var(--white);
}

.dropdown-menu.open .dropdown__menu-labels,
.star.open-star .dropdown__menu-labels {
  opacity: 1;
  translate: 0;
  visibility: visible;
}

.dropdown-menu.open .dropdown__menu-labels .icon-left,
.star.open-star .dropdown__menu-labels .icon-left {
  position: absolute;
  left: 4px;
}
/* ============== end main-comment ============== */


.comments,
.story,
.content {
  color: var(--white);
  background-color: var(--bg-section);
  border-radius: 10px;
  padding: 20px 30px;
  margin-top: 20px;

}

.comments h4,
.story h4,
.content h4 {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}


/* start comments */
.comm-info {
  margin: 15px 0;
  overflow-y: auto;
  height: 100%;
}

.comments img {
  width: 50px;
  float: right;
  margin-left: 10px;
}

.comments .user-name {
  font-weight: bold;
  margin-bottom: 3px;
  font-size: 14px;
}

.comments .date {
  font-size: 12px;
  margin-bottom: 3px;
}

.comments .comment {
  font-size: 14px;
}

.comments .users-comments {
  border-bottom: 1px solid #ffffff70;
  margin: 10px 0;
}

/* end comments */

/* start story */
.story .slug span {
  margin-left: 10px;
  padding: 4px 10px;
  border-radius: 10px;
  font-size: 14px;
  background-color: #555151;
  font-weight: bold;
}

/* end story */



/* start content */
.content ul {
  list-style: none;
  position: relative;
}

.content ul li {
  margin-bottom: 15px;
  position: relative;
}

.content ul li span {
  font-size: 12px;
}

.content ul li::before {
  position: absolute;
  content: "";
  right: -16px;
  top: 5px;
  background-color: var(--dark-yellow);
  width: 10px;
  height: 16px;
}

.content ul i {
  float: left;
}

.accordion .accordion-button::before{
  position: absolute;
  content: "";
  right: 0px;
  background-color: var(--dark-yellow);
  width: 10px;
  height: 16px;
} 

.accordion .accordion-item .descrip{
font-size: 12px;

}

.accordion .accordion-body .btn{
font-size: 12px;
width: 90%;
margin: 4px 0;
}

.accordion .accordion-body .btn-danger{
background: none;
color: #dc3545;
}

.accordion .accordion-body .btn-success{
background: none;
color: #198754;
}

.accordion .accordion-body .head p{
margin-bottom: 0;
font-size: 14px;
}

.accordion .accordion-body .head .head-text{
margin-right: 10px;
}

.accordion .accordion-body .head span{
color: #ccc;
font-size: 12px;
}

.accordion .accordion-body .head{
border-right: 4px solid var(--red);
}

.accordion .accordion-body .body{
border-top: 1px solid var(--white);
margin-top: 10px;
padding-top: 10px;
font-size: 14px;
}

/* end content */



/* start vieos */
.videos {
  position: relative;
}

.videos .card {
  overflow: hidden;
  border: none;
  border-radius: 10px;
  background-color: var(--bg-section);

}

.videos .card img {
  width: 100%;
  height: 100%;
  border: 10px 0 0 10px;
}

.videos .card .play-icon {
  color: var(--white);
  position: absolute;
  font-size: 32px;
  left: 50%;
  right: 45%;
  top: 40%;
}


.videos .card .card-video:hover img,
.videos .card .card-video:hover .play-icon {
  transform: scale(1.1);
}

.videos .card .card-body {
  background-color: var(--bg-section);
}

.videos .card .card-body i {
  color: var(--white);
}

.videos .card .card-body span {
  position: absolute;
  left: 8px;
}

.videos .card .card-body .downloads,
.videos .card .card-body .comment {
  background-color: none;
  border: 1px solid var(--white);
  color: var(--white);
  padding: 5px 20px;
  margin-top: 50px;
  margin-left: 10px;
}

.videos .card .card-body .whatch-down {
  position: absolute;
  left: 8px;
  bottom: 14px;
}

.modal .modal-content {
  background-color: var(--bg-section);
  color: var(--white);
}

.modal .modal-header .btn-close {
  padding: .5rem .5rem;
  margin: 0;
  color: var(--white);
  background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat !important;
}

.modal .modal-body {
  padding: 10px 20px;
  margin: 0;
  border: 0;
  border-radius: 0;
  overflow: hidden;
}

#comments .comments .comm-info .info {
  background: #333;
  padding: 10px;
  border-radius: 10px;
}

.modal .modal-footer {
  justify-content: right;
}

.modal .comment .modal-header {
  background-color: var(--white);
  color: #000000;
}

.modal .warning {
  font-size: 14px;
  border: 1px solid var(--white);
  padding: 10px;
  border-radius: 10px;
}

.modal .modal-footer .close {
  padding: 5px 25px;
}

#comments .comm-info .active {
  display: flex;
  justify-content: space-between;
  margin: 5px 10px;
  position: relative;
}


#comments .comm-info .active .fa-heart {
  color: var(--red);
}

#comments .comm-info .active .dropdown-menu {
  background: none;
  inset: auto auto -10px -70px !important;
}


#comments .comm-info .active .dropdown-menu img {
  width: 25px;
}

#comments .comm-info .active a,
#comments .comm-info .active i {
  color: var(--white);
}

.modal-footer .type-comment {
  direction: ltr;
  margin-top: 20px;
}

.modal-footer .type-comment .btn {
  background-color: var(--red);
  border-radius: 30px !important;
  margin-left: 10px !important;
  text-align: center;
}

.modal-footer .type-comment .btn:focus {
  box-shadow: none;
}

.modal-footer .type-comment .btn:hover {
  box-shadow: inset 0 -20px 0 rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}



.modal-footer .type-comment input {
  direction: rtl;
  background: none;
  border: 1px solid var(--red);
  color: var(--white);
  border-radius: 50px !important;
}

.modal-footer .type-comment input:focus {
  box-shadow: none;
}


.modal .check-option {
  margin-top: 10px;
}

.modal .check-option .send {
  border-radius: 10px;
  border: 1px solid var(--red);
  padding: 5px 30px;
  color: var(--white);
  width: 100%;
  margin-top: 10px;

}

.modal .check-option .send:hover {
  background-color: #cbd1d8;
  color: var(--red);
  border: none;
}

.dpx{
  display:flex;
  align-items:center;
  justify-content:right;
}

.modal .video-img {
  overflow: hidden;
  padding: 0 !important;
  position: relative;
}

.modal .video-img .video-text {
  position: absolute;
  transform: translate(50%, 50%);
  right: 50%;
  text-align: center;
}

.modal .video-img .video-text .text-1 {
  font-size: 12px;
}


.modal .video-img .video-text .text-1 span {
  background-color: #fcfcfc63;
  padding: 1px 7px;
  border-radius: 5px;
}

.modal .video-img .video-text .text-2 {
  margin: 0;
}


.modal .video-img img {
  width: 100%;
  object-fit: cover;
}

.modal .whatch-option .whatch-now {
  border-radius: 10px;
  background-color: var(--red);
  padding: 5px 30px;
  color: var(--white);
  width: 100%;
  margin-top: 10px;
  margin-left: 10px;
}

.padding {
  padding: 10px;
}

.modal .whatch-option .download-now {
  border-radius: 10px;
  background-color: #cbd1d8;
  padding: 5px 30px;
  color: var(--bg-section);
  width: 100%;
  margin-top: 10px;
  margin-right: 10px;
}

ul {
  list-style: none;
}


label{
  display:block;
  line-height:40px;
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 25px;
  width: 25px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  background: var(--red);
}

.option-input:checked::before {
  width: 25px;
  height: 25px;
  display:flex;
  content: '\f00c';
  font-size: 14px;
  font-weight:bold;
  position: absolute;
  align-items:center;
  justify-content:center;
  font-family:'Font Awesome 5 Free';
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: var(--red);
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}

.video-search,
.dropdown {
  margin-bottom: 10px;
  width: 100% !important;
}

.video-search {
  height: 50px;
  width: 288px;
  background: none;
  border-radius: 10px;
  border: 1px solid #fff;
  color: var(--white);
}

.video-search:focus {
  background: none;
  box-shadow: none;
  border: 1px solid #fff;
  color: var(--white);
}


.dropdown {
  width: 288px;
  height: 50px;
  border: 1px solid var(--white);
  border-radius: 9px;
  position: relative;
  left: 0;
  z-index: 9;
}

.dropdown::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 16px;
  z-index: 9999;
  width: 12px;
  height: 12px;
  border: 2px solid grey;
  border-top: transparent;
  border-right: transparent;
  transform: rotate(-45deg);
  pointer-events: none;
  transition: all 0.3s linear;
}

.dropdown input {
  width: 100%;
  height: 100%;
  border-radius: 9px;
  padding: 32px 24px;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 16px;
  position: absolute;
  top: -10px;
  left: 0;
  user-select: none;
  background: none;
  color: var(--white);
}

.dropdown .options {
  width: 100%;
  border-radius: 9px;
  padding: 8px;
  cursor: pointer;
  background: white;
  border: none;
  outline: none;
  box-shadow: 0 10px 25px rgba(124, 130, 141, 0.2);
  font-size: 16px;
  overflow: hidden;
  position: absolute;
  top: 80px;
  left: 0;
  transition: all 0.7s ease;
  /* background: rgba(255, 255, 255, 0.55); */
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);

  opacity: 0;
  transform: translateY(-50px);
  visibility: hidden;

}

.dropdown .options .option {
  padding: 8px;
  border-radius: 9px;
  transition: all 0.2s ease;
  color: #292d34;
}

.dropdown .options .option:not(:last-of-type) {
  margin-bottom: 8px;
}

.dropdown .options .option:hover {
  color: white;
  background: var(--red);
  box-shadow: 0 10px 25px rgba(95, 9, 28, 0.4);
}

/* opened state of dropdown list */
.dropdown.opened .options {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown.opened::before {
  transform: rotate(-225deg);
  top: 20px;
}




.movie-poster-box img {
  width: 100%;
}

#popular .movie-item {
  margin-bottom: 25px;
  height: 150px;
  box-sizing: border-box;
}

.movie-content {
  position: relative;
}

/* movie-content h5{
    width: 60%;
  } */

.movie-poster-box {
  height: 150px;
}

.movie-info {
  position: absolute;
  left: 0;
}

.movie-info i {
  font-size: 18px;
  cursor: pointer;
}

/* end vieos */


/* start characters */
.characters,
.videos {
  color: var(--white);
  margin-top: 5%;
}

.characters h4,
.videos h4 {
  font-weight: bold;
  margin-top: 10px;
}

/* end characters */

/* ===========slider============ */
.slide {
  color: var(--white);
  margin-top: 5%;
  /* clear: both; */
}

.slide h4 {
  font-weight: bold;
  margin-top: 10px;
}

.slick-slider {
  direction: ltr;
}

.slick-slider button {
  position: absolute;
  top: 41%;
  outline: "none";
  border: none;
  width: 60px;
  height: 35px;
  color: var(--dark-white);
  z-index: 99;
}

.slick-slider .slick-prev {
  left: -60px;
  font-size: 0;
  background: linear-gradient(to left, rgba(116, 175, 238, 0), var(--red));

}

.slick-slider .slick-prev::before {
  content: '<';
  line-height: 1;
  font-size: 25px;
}



.slick-slider .slick-next {
  right: -64px;
  font-size: 0;
  background: linear-gradient(to right, rgba(116, 175, 238, 0), var(--red));
}

.slick-slider .slick-next::after {
  content: '>';
  line-height: 1;
  font-size: 25px;
}



.slick-dots {
  text-align: center;
  display: none !important;
}

.slick-dots li {
  display: inline-block;
  padding: 1px;
  margin: 10px 5px;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid var(--red);
}

.slick-dots button {
  display: none;
}

.slick-dots li.slick-active {
  background: var(--main-color);
  border: 1px solid #333;
}

.slick-slider img {
  width: 100%;
  height: 250px;
}



.slick-slide {
  padding: 40px 0;
  position: relative;
  height: auto !important;
  opacity: 0.5;
  transition: all 900ms ease;

}

.slick-current {
  opacity: 1;
  transform: scale(1.2);
  z-index: 99;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.slick-slide .xyz {
  opacity: 0;
}

.slick-current .xyz {
  opacity: 1;
}

.slick-slide {
  text-align: -moz-center;
}

.slider .text-link {
  position: absolute;
  transform: translate(50%, 50%);
  bottom: 50%;
  right: 50%;
}

.slider .card {
  border-radius: 10px;
  width: 100%;
}

.card .img-cat {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}


.slick-current {
  box-shadow: none;
}

.slick-current .card {
  box-shadow: 0px 0px 12px 1px rgb(102, 101, 101);
}


.slider .card .box {
  padding: 5px 10px;
  background-color: #555151c7;
  border-radius: 10px;
  color: var(--white);
  margin-top: 10%;
}

.slider .card a {
  text-decoration: none;
  font-size: 14px;
  color: var(--white);
  display: inline-block;
}

/* ===========slider============ */

/* =========== start slide characters ============ */
.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}

.slide-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.image-content a {
  text-decoration: none;
  color: var(--white);
  display: block;
}

.image-content a:hover {
  color: var(--red);
  transition: 0.5s;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--red) !important;
}

.swiper-pagination {
  display: none !important;
}

.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid var(--red);
}

.swiper-slide {
  width: 160.667px !important;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-pagination-bullet {
  background-color: #6E93f7;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #4070F4;
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }

  .swiper-navBtn {
    display: none;
  }

  .main-comment .comment,
  .main-comment .add,
  .main-comment .social {
    width: 100%;
  }


}

@media screen and (max-width: 991px) {
  #popular .movie-item {
    width: 100%;
  }


  .slider .text-image {
    width: 100%;
  }
}

/* =========== end slide characters ============ */


/* =============== start Owl Carouse ================= */
.owl-carousel {
  direction: ltr;
}

.owl-carousel .item {
  padding: 30px 0px;
  margin: 10px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}

.owl-carousel img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 2px solid var(--red);
}

#owl-others img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.owl-carousel a {
  color: var(--white);

}

.customNavigation {
  text-align: center;
}

.customNavigation a {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* =============== end Owl Carouse ================= */


@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }

  .swiper-navBtn {
    display: none;
  }


}

@media screen and (max-width: 991px) {
  #popular .movie-item {
    width: 100%;
  }

  .slider .text-image img {
    width: 30%;
  }
}


/* =========== end slide characters ============ */

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');

* {
  font-family: 'Cairo', sans-serif;
}
